{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>All Kenyan jobs search</title>
    <link rel="stylesheet" href="{% static "jobapp/css/main.css" %}">
    <link rel="stylesheet" href="{% static "jobapp/css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "jobapp/js/bootstrap.min.js" %}">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="../../cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>

    <style>
        body{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        /* .row{
            margin-left: 0px!important;
            margin-right: 0px!important;
        } */
        .input-control,
        .btn {
            display: inline !important;
            margin: 0px;
        }

        #top-container {
            width: 100%;
            background: #085078;
            background: -webkit-linear-gradient(to bottom, #085078, #85d8ce);
            background: linear-gradient(to bottom, #085078, #85d8ce);
            height: 100vh;
            margin: auto;
            background-repeat: no-repeat;
            background-attachment: fixed;
            min-height: 100vh;
            overflow-y: scroll;
        }

        #nav {
            margin: 20px 0px 30px 0px;
        }
        .container{
            color: white
        }

        #brand-description {
           margin-bottom: 30px;
        }

        #search-area{
            margin: auto;
        }
        
        #search{
            width: 100%;
        }
        #search-btn{
            width: 100%;
        }


    </style>
</head>

<body>

    <div class="main" id="top-container">


        <div class="row" style="margin-left: 0px; margin-right: 0px">
            <div class="col-lg-12">
                <nav id="nav" role="navigation" aria-labelledby="Navigation">
                    <div class="d-flex flex-row justify-content-end">
                        <button class="btn btn-outline-light">Hire Me!</button>
                    </div>
                </nav>
            </div>
        </div>
        

        <div class="container" style="padding-top: 100px">

            <div class="row text-center" id="brand-description">
                <div class="col-sm-12">
                    <h1 style="font-size: 3.5em; font-weight: 100;">Jobb.ke</h1>
                </div>

                <div class="col-sm-12">
                    <p style="font-size: 1em; font-weight: 100;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, nemo!</p>
                </div>

            </div>

            <div class="row" id="search-area">
                <div class="col-sm-10">
                    <input class="form-control" type="text" id="search" placeholder="Type job keywords here" style="display: inline!important">
                </div>

                <div class="col-sm-2">
                    <button class="btn btn-dark">Search</button>                    
                </div>
                </div>
            </div>

        </div>


    </div>

    <!-- <script>

        function openResults(event, site) {
        // Declare all variables
        var i, results, jobSites;

        // Get all elements with class="results" and hide them
        results = document.getElementsByClassName("tab-pane");
        for (i = 0; i < results.length; i++) {
            results[i].style.display = "none";
        }

        // Get all elements with class="jobSites" and remove the class "active"
        jobSites = document.getElementsByClassName("job-site-tabs");
        for (i = 0; i < jobSites.length; i++) {
            jobSites[i].className = jobSites[i].className.replace(" active", "");
        }

        // Show the current tab, and add an "active" class to the button that opened the tab
        document.getElementById(site).style.display = "block";
        event.currentTarget.className += " active";
        }

        $(document).ready(function(){
            //Hide job boards
            $("#boards").css("display","none")
            results = document.getElementsByClassName("tab-pane");
            for (i = 0; i < results.length; i++) {
                var id = `#${results[i].id}`
                if($
                (id).hasClass("active")){
                    results[i].style.display = "block";
                }else{
                results[i].style.display = "none";
                }
            }

            $("#glass-tab").click(function(e){
                openResults(e, "glassdoor")
            })

            $("#bright-tab").click(function(e){
                openResults(e, "brighter")
            })

            $("#hub-tab").click(function(e){
                openResults(e, "ihub")
            })

            $(document).ajaxStart(function(){
                $(".tab-pane").css("display", "none"); 
                $("#boards").css("display","block")
                $(".spinner-border").css("display", "block"); 
                $(".alert").css("display", "none"); 
                $(".count").css("display", "none");
            })

            $(document).ajaxComplete(function(){
                $(".tab-pane").css("display", "block"); 
                $(".spinner-border").css("display", "none"); 
                $(".alert").css("display", "block"); 
                $(".count").css("display", "block");
                
                $(".modal-open").click(function(){
                    $("#myModal").show()
                })
                $(".modal-close").click(function(){
                    $("#myModal").hide()
                })
            })

            $("#search-btn").click(function(e){
                e.preventDefault()
                // $.get("search",{keyword: "software-developer"},function(data){
                //     console.log(data.glassdoor)
                // })
                var search = $("#search").val()
                $.ajax(
                    {
                        type:"GET",
                        url: "search",
                        data:{
                                keyword: search
                        },
                        success: function( data ) 
                        {
                            glassdoor_output = `<ul class="list-group">`;
                            ihub_output = `<ul class="list-group">`
                            for (var i in data){
                                if(i == "glassdoor"){
                                    var glassdoor_count = data.glassdoor_count
                                    $("#glassdoor-counter").text(glassdoor_count+" +")
                                    for (var j in data.glassdoor){
                                        glassdoor_output+=`
                                        <li class="list-group-item" style="color:black">
                                            <p>Company =>> ${data.glassdoor[j].company}</p>
                                            <p>Title =>> ${data.glassdoor[j].job_title}</p>
                                            <p>Description =>> Empty </p>
                                            <p>Link =>> <button class="modal-open">Open</button></p>
                                        </li>`;
                                    }
                                }
                                 
                                else if(i == "ihub"){
                                    var ihub_count = data.ihub_count
                                    $("#ihub-counter").text(ihub_count+" +")
                                    for (var j in data.ihub){
                                        ihub_output+=`
                                        <li class="list-group-item" style="color:black">
                                            <p>Company =>> ${data.ihub[j].company_name}</p>
                                            <p>Title =>> ${data.ihub[j].job_title}</p>
                                            <p>Description =>> ${data.ihub[j].description} </p>
                                            <p>Link =>> <a href="${data.ihub[j].job_details}" target="_blank">Open</a></p>
                                        </li>`; 
                                    }

                                }
                                else{
                                    
                                }
                            } 
                            $("#glassdoor").html(glassdoor_output);                            
                            $("#ihub").html(ihub_output);                            
                        }
                    })
            })

        })
    </script> -->
</body>

</html>