{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>All Kenyan jobs search</title>
    <link rel="stylesheet" href="{% static "jobapp/css/main.css" %}">
    <link rel="stylesheet" href="{% static "jobapp/css/bootstrap.min.css" %}">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <style>
        body {
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-size: 14px;
            line-height: 1.42857143;
            color: #333;
            background-color: #fff;
            margin: 0px;
            color: white;
        }

        .wrapper {
            background: #085078;
            background: -webkit-linear-gradient(to bottom, #085078, #85d8ce);
            background: linear-gradient(to bottom, #085078, #85d8ce);
            height: 100vh;
            margin: 0;
            background-repeat: no-repeat;
            background-attachment: fixed;
            min-height: 100vh;
            overflow: scroll;
        }
    </style>
</head>

<body>
    <div class="wrapper">

        <div class="container-fluid">

            <div class="row mt-5">
                <div class="col-sm-8 m-auto text-center">
                    <h1 id="title">Jobb.ke</h1>
                    <p id="header-info" style="font-size: 18px;">Search quickly through BrighterMonday, Glassdoor</p>

                </div>
            </div>


            <div class="row">

                <div class="col-sm-8 m-auto text-center">

                    <form action="" class="form-group d-flex justify-content-around">
                        <input type="text" class="form-control" id="search">
                        <button class="btn btn-submit btn-light" id="search-btn">   Search</button>
                    </form>

                    <div id="stats" class="row text-center w-75 ">
                            <div class="w-50">
                                <h4>Searches</h4>
                                <b>219+</b>
                            </div>

                            <div class="w-50">
                                <h4>Jobs</h4>
                                <b>219+</b>
                            </div>
                    </div>
                </div>
            </div>

            <div id="boards" class="row" >
                <ul id="sites" class="col-sm-8 m-auto">
                    <li class="job-site-tabs active" id="glass-tab">Glassdoor
                    <span class="spinner-border text-success m-auto" style="display: none;"></span>
                    <div class="m-auto counter" id="glassdoor-counter"></div>
                    </li>
                    <!-- <li class="job-site-tabs" id="bright-tab">Brighter Monday
                    <div class="spinner-border text-success m-auto" style="display: none;"></div>
                    <div class="m-auto counter"></div>

                    </li> -->
                    <li class="job-site-tabs" id="hub-tab">Ihub.com
                    <div class="spinner-border text-success m-auto" style="display: none;"></div>
                    <div class="m-auto counter" id="ihub-counter"></div>

                    </li>
                </ul>
            </div>
            
            <div id="results" class="row">
                <div class="tab-pane active col-sm-8 m-auto" id="glassdoor">
                    <div id="job-title" style="font-size: 20px" class="mb-1 mt-3"></div>
                    <div id="job-description" style="font-size: 15px" class="mb-3"></div>
                </div>

                <!-- <div class="tab-pane col-sm-8 m-auto" id="brighter">
                        <div id="job-title" style="font-size: 20px" class="mb-1 mt-3"></div>
                        <div id="job-description" style="font-size: 15px" class="mb-3"></div>
                </div> -->
                <div class="tab-pane col-sm-8 m-auto" id="ihub"></div>
            </div>

        </div>

          <!-- The Modal -->
        <div class="modal fade" id="job-modal">
            <div class="modal-dialog">
            <div class="modal-content">
            
                <!-- Modal Header -->
                <div class="modal-header">
                <h4 class="modal-title">Modal Heading</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                
                <!-- Modal body -->
                <div class="modal-body">
                Modal body..
                </div>
                
                <!-- Modal footer -->
                <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
                
            </div>
            </div>
        </div>
    </div>


    <script>

        function openResults(event, site) {
        // Declare all variables
        var i, results, jobSites;

        // Get all elements with class="results" and hide them
        results = document.getElementsByClassName("tab-pane");
        for (i = 0; i < results.length; i++) {
            results[i].style.display = "none";
        }

        // Get all elements with class="jobSites" and remove the class "active"
        jobSites = document.getElementsByClassName("job-site-tabs");
        for (i = 0; i < jobSites.length; i++) {
            jobSites[i].className = jobSites[i].className.replace(" active", "");
        }

        // Show the current tab, and add an "active" class to the button that opened the tab
        document.getElementById(site).style.display = "block";
        event.currentTarget.className += " active";
        }

        $(document).ready(function(){
            //Hide job boards
            $("#boards").css("display","none")
            results = document.getElementsByClassName("tab-pane");
            for (i = 0; i < results.length; i++) {
                var id = `#${results[i].id}`
                if($
                (id).hasClass("active")){
                    results[i].style.display = "block";
                }else{
                results[i].style.display = "none";
                }
            }

            $("#glass-tab").click(function(e){
                openResults(e, "glassdoor")
            })

            $("#bright-tab").click(function(e){
                openResults(e, "brighter")
            })

            $("#hub-tab").click(function(e){
                openResults(e, "ihub")
            })

            $(document).ajaxStart(function(){
                $(".tab-pane").css("display", "none"); 
                $("#boards").css("display","block")
                $(".spinner-border").css("display", "block"); 
                $(".alert").css("display", "none"); 
                $(".count").css("display", "none");
            })

            $(document).ajaxComplete(function(){
                $(".tab-pane").css("display", "block"); 
                $(".spinner-border").css("display", "none"); 
                $(".alert").css("display", "block"); 
                $(".count").css("display", "block");
            })
                        
            $("#search-btn").click(function(e){
                e.preventDefault()
                // $.get("search",{keyword: "software-developer"},function(data){
                //     console.log(data.glassdoor)
                // })
                var search = $("#search").val()
                $.ajax(
                    {
                        type:"GET",
                        url: "search",
                        data:{
                                keyword: search
                        },
                        success: function( data ) 
                        {
                            glassdoor_output = `<ul class="list-group">`;
                            ihub_output = `<ul class="list-group">`
                            for (var i in data){
                                if(i == "glassdoor"){
                                    var glassdoor_count = data.glassdoor_count
                                    $("#glassdoor-counter").text(glassdoor_count+" +")
                                    for (var j in data.glassdoor){
                                        glassdoor_output+=`
                                        <li class="list-group-item" style="color:black">
                                            <p>Company =>> ${data.glassdoor[j].company}</p>
                                            <p>Title =>> ${data.glassdoor[j].job_title}</p>
                                            <p>Description =>> Empty </p>
                                            <p>Link =>> <a href="${data.glassdoor[j].job_link}" target="_blank">Open</a></p>
                                        </li>`;
                                    }
                                }
                                 
                                else if(i == "ihub"){
                                    var ihub_count = data.ihub_count
                                    $("#ihub-counter").text(ihub_count+" +")
                                    for (var j in data.ihub){
                                        ihub_output+=`
                                        <li class="list-group-item" style="color:black">
                                            <p>Company =>> ${data.ihub[j].company_name}</p>
                                            <p>Title =>> ${data.ihub[j].job_title}</p>
                                            <p>Description =>> ${data.ihub[j].description} </p>
                                            <p>Link =>> <a href="${data.ihub[j].job_details}" target="_blank">Open</a></p>
                                        </li>`; 
                                    }

                                }
                                else{
                                    
                                }
                            } 
                            $("#glassdoor").html(glassdoor_output);                            
                            $("#ihub").html(ihub_output);                            
                        }
                    })
            })

        })
    </script>
</body>

</html>